{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Seat</th>
                <th>Movie Title</th>
                <th>Seanse Date</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.user.email }}</td>
                <td>row - {{ order.hall.row }}, seat - {{ order.hall.number }}</td>
                <td>{{ order.seanses.movie.title }}</td>
                <td>{{ order.seanses.date ? order.seanses.date|date('Y-m-d') : ''}}, {{ order.seanses.time ? order.seanses.date|date('H:m:s') : '' }}</td>
                <td>{{ order.totalPrice }}</td>
{#                <td>#}
{#                    <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>#}
{#                    <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('orders_new') }}">Create new</a>#}
{% endblock %}
