{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer_id</th>
                <th>Hall_id</th>
                <th>Seanse_id</th>
                <th>Total_price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customerId }}</td>
                <td>{{ order.hallId }}</td>
                <td>{{ order.seanseId }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>
                    <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_new') }}">Create new</a>
{% endblock %}
