{% extends 'base.html.twig' %}

{% block title %}Hall{% endblock %}

{% block body %}
    <h1>Hall</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hall.id }}</td>
            </tr>
            <tr>
                <th>Row</th>
                <td>{{ hall.row }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ hall.number }}</td>
            </tr>
            <tr>
                <th>Cathegory</th>
                <td>{{ hall.cathegory }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ hall.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_hall_index') }}">back to list</a>

    <a href="{{ path('admin_hall_edit', {'id': hall.id}) }}">edit</a>

    {{ include('admin/hall/_delete_form.html.twig') }}
{% endblock %}
