{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <h1>Movies</h1>

    <table class="table">
        <thead>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    <div class="col-md-11">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ asset('img/') ~ movie.img }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Plaeholder: Thumbnail"></img>
                        </div>
                    </div>
                </td>
                <td>
                    <b>{{ movie.title }}</b>
                    <br>
                    <br>
                    <a href="{{ movie.id }}" style="color: #718C00">Details</a>
                </td>
                <td>{{ movie.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script src="{{ asset('js/hall.js') }}"></script>
{% endblock %}
