{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customers Email</th>
                <th>Seat</th>
                <th>Seanse Id</th>
                <th>Seanse Title</th>
                <th>Seanse Date & Time</th>
                <th>Total Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.email }}</td>
                <td>Row - {{ order.hall.row }}, seat - {{ order.hall.number }}</td>
                <td>{{ order.seanses.id }}</td>
                <td>{{ order.seanses.movie.title }}</td>
                <td>{{ order.seanses.date ? order.seanses.date|date('Y-m-d') : '' }}, {{ order.seanses.time ? order.seanses.time|date('H:m:s') : '' }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>
                    <a href="{{ path('admin_orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('admin_orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_orders_new') }}">Create new</a>
{% endblock %}
